body {
    background-color: black;
}

h1, h2, h3, h4, p, label, i {
    color: white;
}

button, form, div, input, img {
    margin: 10px;
}

p {
    /* TRBL */
    margin: 0 0 0 10px;
    line-height: 1rem;
}

#button-view {
    margin-left: 0;
}

#main-title {
    margin-left: 10px;
    text-align: center;
}

.jumbotron {
    background-color: #2c4b5d;
    padding: 2rem;
}

.log-container {
    color: gray;
    margin: 0 0 12px 10px;
}

.log-result, .log-timestamp {
    color: gray;
}

.log-timestamp {
    margin: 2px 0 0 10px;
    font-size: .8em;
}

hr {
    border-top: 1px solid black;
}

i {
    margin: 5px 0 0 10px;
}

.nav-link {
    width: 80px;
    font-size: 2rem;
}

.navbar-brand {
    margin-top: 1rem;
}